body {
    margin: 0px;
    padding: 0px;
    font-family: Verdana;
    font-size: 12px;
    font-weight: 400;
}

.label {
    font-size: 12px;
    font-weight: bold;
}

.inputText {
    height: 25px;
    width: 200px;
    font-size: 12px;
    padding: 2px;
}

.inputButton {
    font-size: 12px;
    height: 25px;
}

.tabela {
    font-size: 12px;
}

.tbl-coluna {
    font-weight: bold;
}

.tbl-coluna-valor {
    font-size: 12px;
}

.tbl-coluna:nth-child(1) {
    width: 100px;
}

.tbl-coluna:nth-child(2) {
    width: 200px;
}

.tbl-coluna:nth-child(3) {
    width: 150px;
}

.tbl-coluna:nth-child(5) {
    width: 200px;
}

.ui-column-title {
    font-size: 12px !important;
}

//Estilos da pagina index.xhtml;

.frm-postar {
    position: relative;
    margin: 0px auto;
    font-size: 12px;
}

.panel-postar {
    width: 525px;
    position: relative;
    margin: 0px auto;
}

.tit-postar {
    font-size: 14px;
    font-weight: bold;
}

.txt-postar {
    font-size: 12px;
    resize: none;
}

.contador-post {
    font-size: 11px;
}

.panel-postar > tbody > tr:last-child > td {
    text-align: right;
}

.tbl-timeline-valor {
    font-size: 12px;
}

.tbl-timeline:first-child {
    width: 170px;
}